* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  background-color: #181818;
  color: #ffffff;
  padding: 10px;
}

#main-container {
  margin-inline: auto;
  width: 100%;
}

canvas {
  touch-action: none;
  max-width: 100%;
  height: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#animation-data-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 5px;
}

#animation-controls, #zoom-controls, #anchors-controls {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

#animation-controls > input {
  flex: 1;
  width: 100%;
  min-width: 50px;
}

#zoom-controls > input {
  flex: 1;
  width: 100%;
}

button {
  padding: 5px;
}

select {
  padding: 5px;
}

#transformation-order-container {
  margin-top: 5px;
}

#transformation-order {
  margin-top: 5px;
  display: block;
  width: 100%;
}

#dump {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #eeeeee;
  border-radius: 18px;
  padding: 10px;
  background: #313131;
  row-gap: 10px;
  overflow-x: scroll;

  > .row {
    display: flex;
    flex-direction: row;

    > .spacer {
      display: inline;
      height: 100%;
      flex-shrink: 0;
    }

    > .content {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      border: 1px solid #181818;
      background-color: #404040;
      padding: 10px;
      border-radius: 8px;

      > .reason {
        color: #ffffff;
        font-weight: bold;
      }

      > .header {
        color: #aaaaaa;
      }

      > .content-base {
        display: flex;
        flex-direction: row;
        border: 1px solid #282828;
        background-color: #505050;
        border-radius: 8px;
        padding: 10px;
        column-gap: 10px;

        > .matrix-dump {
          display: flex;
          flex-direction: column;
          border: 1px solid red;
          border: 1px solid #383838;
          background-color: #606060;
          border-radius: 8px;
          padding: 10px;

          > .matrix-dump-header {
            color: #cccccc;
          }

          > .matrix-dump-content {
            color: #eeeeee;
          }
        }
      }
    }
  }

  .row::after {
    content: '';
    flex-shrink: 0;
    width: 10px;
  }
}
